/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e1e9f2;
    color: #383737;
}

header {
    background-color: #191c2d;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.content {
    margin: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #191c2d;
    color: white;
}

button {
    padding: 5px;
    margin: 5px;
    background-color: #191c2d;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #353953;
}

legend {
    font-weight: bolder;
    font-size: large;
}

.authbox {
    padding: 10px;
}

input {
    padding: 2px;
    margin: 2px;
}
